.cart-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
}

.cart-container {
  width: 70%; /* Adjust the width as needed */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-summary {
  width: 30%; /* Adjust the width as needed */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.cart-item-details {
  flex: 1;
  margin-right: 20px;
}

.cart-item-actions {
  display: flex;
  gap: 10px;
}

.cart-item-actions button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.cart-item-actions button:last-child {
  background-color: #f44336;
}

.cart-item-actions button:hover {
  opacity: 0.8;
}

.empty-cart {
  text-align: center;
}

.back-button {
  display: block;
  margin: 20px auto;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #45a049;
}

.order-summary h2 {
  margin-top: 0;
}

.create-order-button {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.create-order-button:hover {
  background-color: #1e88e5;
}
